@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: 'ethnocentric';
  src: url('../public/fonts/ethnocentric/ethnocentric.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  ::selection {
    color: rgb(24, 24, 27);
    background: rgb(255, 193, 7);
  }
}

.markdown p {
  @apply my-4 text-white;
}

.markdown h2 {
  @apply text-xl md:text-3xl my-2 md:my-4 text-white;
}

.markdown h3 {
  @apply text-lg md:text-2xl my-2 md:my-4 text-white;
}

.markdown a {
  @apply text-amber underline font-medium break-words;
}

.markdown table {
  @apply text-xs sm:text-sm md:text-base w-full text-left text-white;
}
